<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="mapperFilesFolder" value="C:\Users\ACER\Desktop\NEUSoft\Homework2\src\main\resources\com\neu\mapper" />
        <option name="mapperFilesFolderList">
          <list>
            <option value="C:\Users\ACER\Desktop\NEUSoft\Homework2\src\main\resources\com\neu\mapper" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>