<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neu.mapper.EmpMapper">

<!--基础操作-->
    <select id="findAll" resultType="com.neu.po.Emp">
        select * from emp
    </select>

    <select id="getById" resultType="com.neu.po.Emp">
        select * from emp where empno = #{empno}
    </select>

    <insert id="insert">
        insert into emp(empno, ename, job, mgr, hiredate, sal, comm, deptno) VALUES (#{empno},#{ename},#{job},#{mgr},#{hiredate},#{sal},#{comm},#{deptno})
    </insert>

    <update id="updateSalById">
        update emp set sal = #{sal} where empno = #{empno}
    </update>

    <delete id="deleteById">
        delete from emp where empno = #{empno}
    </delete>

    <select id="order" resultType="com.neu.po.Emp">
        select * from emp order by ${column} DESC
    </select>


    <!--    关联对象，根据部门编号封装一个部门对象-->
    <!--    property:是Emp对象中需要映射的属性-->
    <!--    column：根据deptno进行映射（获得的Emp对象的deptno属性）-->
    <!--    select：映射方法-->
    <resultMap id="basicMap" type="com.neu.po.Emp">
        <association property="dept" column="deptno" select="com.neu.mapper.DeptMapper.getById"></association>
    </resultMap>
    <select id="getByIdWithDept" resultMap="basicMap">
        select * from emp where empno = #{empno}
    </select>
</mapper>
